footer.footer
  .container.container--size-md.footer__container
    .footer__contacts
      p.footer__line Тел.: <a href="tel:+74993502892">+74993502892</a>
      p.footer__line Эл.почта: <a href="mailto:support@best-take.space">support@best-take.space</a>
    .footer__info
      p.footer__line <a href="#modal-privacy" class="js-modal-init">Политика конфиденциальности</a>
      p.footer__line 2022. Все права защищены | Copyright © best-take.space