script(src='js/jquery-3.6.0.min.js?v=289723547893')
script(src='js/parallax.min.js?v=289723547893')
script(src='js/jquery.marquee.min.js?v=289723547893')
script(src='js/tellInput.min.js?v=289723547893')
script(src='js/main.js?v=289723547893')