header.header
  .container.container--size-md.header__container
    .header__author
      a(href="/").header__author-link
        span.header__author-link-name Владимир
        span.header__author-link-surname Молчанов
      p.header__author-description Создает курсы, пишет статьи по финансовым рынкам, ведет еженедельную передачу на РБК-ТВ