<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        section.thanks-intro
          #js-intro-parallax.parallax-scene.thanks-intro__parallax
            .thanks-intro__parallax-coin
              picture(data-depth="-.4").js-parallax-layer.parallax-item.parallax-item--4.thanks-intro__parallax-item.thanks-intro__parallax-item--1
                img(src="images/decor-2.png" srcset="images/decor-2@2x.png 2x" width="145" height="148")
              picture(data-depth=".2").js-parallax-layer.parallax-item.parallax-item--1.thanks-intro__parallax-item.thanks-intro__parallax-item--2
                img(src="images/decor-4.png" srcset="images/decor-4@2x.png 2x" width="162" height="167")
              picture(data-depth=".6").js-parallax-layer.parallax-item.parallax-item--5.thanks-intro__parallax-item.thanks-intro__parallax-item--3
                img(src="images/decor-3.png" srcset="images/decor-3@2x.png 2x" width="167" height="180")
          .container.container--size-md.thanks-intro__container
            p.thanks-intro__suptitle Спасибо за интерес к нашему видеокурсу!
            p.thanks-intro__text Мы прислали ссылку на ваш e-mail, по которой вы сможете переходить на данный раздел с видео-уроками.
            h1.thanks-intro__title Smartmoney видео-курс из&nbsp;14&nbsp;уроков
          <div class='marquee thanks-intro__marquee' data-duration='5000' data-duplicated='true'>
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
            .marquee-item Основы финансового рынка
          </div>
        section.thanks-section.thanks-section--theme-blue
          .container.container--size-md.thanks-section__container
            .thanks-section__header
              h2.thanks-section__title Не пропустите наш звонок!
              .content.thanks-section__text
                p С вами свяжется менеджер и проведет бесплатную консультацию по основам трейдинга и ответит на вопросы по видеокурсу.
            .thanks-section__body
              .thanks-section__step-title 1. Начало
              h2.thanks-section__title Приступая к работе
              .content.thanks-section__text
                p Начните этот курс торговли с изучения основ. Вы узнаете какие существуют виды рынков, их структура и основные участники.
                p Наши эксперты научат Вас всем ключевым терминам, которые Вам потребуется, расскажут о том, как использовать кредитное плечо для заработка и приумножения средств на депозите.
            .row.thanks-section__gallery-wrap
              .row__col--12.thanks-section__gallery-wrap-col--12
                .row.thanks-section__gallery
                  .row__col--4.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--4.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--4.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--4.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--4.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
        section.thanks-section.thanks-section--theme-dark
          .container.container--size-md.thanks-section__container
            .thanks-section__body
              .thanks-section__step-title 2. Основы
              h2.thanks-section__title Эффективный старт
              .content.thanks-section__text.thanks-section__text--size-md
                p В этом разделе вы узнаете, что вам нужно для эффективного старта на финансовых рынках, что на них влияет и за счет каких индикаторов он формируется.
                p Вам расскажут вам о риск-менеджменте и объяснят на примерах, какая сумма подойдет для старта и как ей правильно оперировать.
            .row.thanks-section__gallery-wrap
              .row__col--8.thanks-section__gallery-wrap-col--8
                .row.thanks-section__gallery
                  .row__col--6.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--6.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--6.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
                  .row__col--6.thanks-section__gallery-col
                    picture.gallery-picture
                      img(src="images/gallery-img.png")
        .main__footer
          .container.container--size-md.main__footer-container
            section.thanks-section.thanks-section--theme-simple
              .thanks-section__body
                .thanks-section__step-title 3. Приступая к торговле
                h2.thanks-section__title Анализ и стратегия
                .content.thanks-section__text.thanks-section__text--size-md
                  p В завершении курса вам расскажут о подводных камнях, которые ждут каждого начинающего трейдера. Эксперты помогут вам разработать торговую стратегии и научат вас ее проверять с помощью торгового журнала.
              .row.thanks-section__gallery-wrap
                .row__col--12.thanks-section__gallery-wrap-col--12
                  .row.thanks-section__gallery
                    .row__col--4.thanks-section__gallery-col
                      picture.gallery-picture
                        img(src="images/gallery-img.png")
                    .row__col--4.thanks-section__gallery-col
                      picture.gallery-picture
                        img(src="images/gallery-img.png")
                    .row__col--4.thanks-section__gallery-col
                      picture.gallery-picture
                        img(src="images/gallery-img.png")
                    .row__col--4.thanks-section__gallery-col
                      picture.gallery-picture
                        img(src="images/gallery-img.png")
                    .row__col--4.thanks-section__gallery-col
                      picture.gallery-picture
                        img(src="images/gallery-img.png")
            section.appeal-section
              .title-brand.title-brand--size-xl.appeal-section__title
                span.title-brand__sup Основы
                span.title-brand__sub финансового рынка
              p.u-suptitle.appeal-section__suptitle и начните путь к мечте длиной в&nbsp;полгода
              form(action="#").appeal-section__form
                .appeal-section__form-row
                  .appeal-section__form-row-col
                    .form-line.appeal-section__form-line
                      p.u-valid.form-line__valid Введите мин. 2 символа
                      input(type="text" name="name" autocomplete="nope" required placeholder="Ваше имя").input-el.input-el--theme-blue.input-el--size-lg.input-el--type-name.form-line__input
                  .appeal-section__form-row-col
                    .form-line.appeal-section__form-line
                      p.u-valid.is-error.form-line__valid Некорректный email
                      input(type="email" name="email" autocomplete="nope" required placeholder="Ваша почта").input-el.input-el--theme-blue.input-el--size-lg.input-el--type-email.form-line__input
                  .appeal-section__form-row-col
                    .form-line.appeal-section__form-line
                      p.u-valid.form-line__valid Некорректный телефон
                      input(type="tel" name="phone" id="phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").js-tel-input-country-init.input-el.input-el--theme-blue.input-el--size-lg.form-line__input
                .appeal-section__form-privacy
                  label.u-checkbox.u-checkbox--size-lg
                    input(type="checkbox" name="privacy" checked).u-checkbox__control
                    .u-checkbox__inner
                      span.u-checkbox__icon-wrap
                        svg.icon.u-checkbox__icon
                          use(xlink:href="images/sprite.svg#checked")
                      span.u-checkbox__text Дая согласие на обработку своих персональных данных
                .appeal-section__form-footer
                  button(type="button").btn.btn--size-lg.btn--theme-accent.appeal-section__form-btn
                    span.btn__bg
                    span.btn__inner
                      span.btn__title Получить курс
                  .appeal-section__form-subtitle <span>Бесплатно</span>

            include includes/footer.pug

    #modal-code.modal.modal--code
      .js-modal-close.modal__overlay
      .modal__inner
        .modal__center
          button.js-modal-close.btn-close.modal__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(action="#").modal-form
            p.modal-form__title Введите код<br>для верификации
            p.modal-form__description мы отправили код через sms на указанный вами номер
            .js-code-list.code-list.modal-form__code-input
              input(type="number" autocomplete="nope" required).js-code-input.code-input.code-list__input
              input(type="number" autocomplete="nope" required).js-code-input.code-input.code-list__input
              input(type="number" autocomplete="nope" required).js-code-input.code-input.code-list__input
              input(type="number" autocomplete="nope" required).js-code-input.code-input.code-list__input
              input(type="hidden" name="pincode").js-code-output
            .modal-form__action
              a.modal-form__action-again Запросить код снова
              a(href="#modal-change").js-modal-init.modal-form__action-change Изменить номер телефона
            footer.modal-form__footer
              button(type="submit").btn.btn--size-lg.btn--theme-accent.modal-form__footer-btn
                span.btn__bg
                span.btn__inner
                  span.btn__title Подтвердить
              .modal-form__footer-subtitle <span>Бесплатно</span>
    #modal-form.modal.modal--form
      .js-modal-close.modal__overlay
      .modal__inner
        .modal__center
          button.js-modal-close.btn-close.modal__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(action="#").modal-form
            .form-line.modal-form__line
              p.u-valid.form-line__valid Введите мин. 2 символа
              input(type="text" name="name" autocomplete="nope" required placeholder="Ваше имя").input-el.input-el--theme-white.input-el--size-md.input-el--type-name.form-line__input
            .form-line.modal-form__line
              p.u-valid.is-error.form-line__valid Некорректный email
              input(type="email" name="email" autocomplete="nope" required placeholder="Ваша почта").input-el.input-el--theme-white.input-el--size-md.input-el--type-email.form-line__input
            .form-line.modal-form__line
              p.u-valid.form-line__valid Некорректный телефон
              input(type="tel" name="phone" id="phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").js-tel-input-country-modal-init.input-el.input-el--theme-white.input-el--size-md.form-line__input
            .modal-form__privacy
              label.u-checkbox.u-checkbox--size-md
                input(type="checkbox" name="privacy" checked).u-checkbox__control
                .u-checkbox__inner
                  span.u-checkbox__icon-wrap
                    svg.icon.u-checkbox__icon
                      use(xlink:href="images/sprite.svg#checked")
                  span.u-checkbox__text Дая согласие на обработку своих персональных данных
            footer.modal-form__footer
              button(type="submit").btn.btn--size-lg.btn--theme-accent.modal-form__footer-btn
                span.btn__bg
                span.btn__inner
                  span.btn__title Получить курс
              .modal-form__footer-subtitle <span>Бесплатно</span>
    #modal-change.modal.modal--change
      .js-modal-close.modal__overlay
      .modal__inner
        .modal__center
          button.js-modal-close.btn-close.modal__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(action="#").modal-form
            p.modal-form__title Введите правильный номер телефона
            .form-line.modal-form__line
              p.u-valid.form-line__valid Некорректный телефон
              input(type="tel" name="phone" id="phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").js-tel-input-country-modal-change-init.input-el.input-el--theme-white.input-el--size-md.form-line__input
            .modal-form__privacy
              label.u-checkbox.u-checkbox--size-md
                input(type="checkbox" name="privacy" checked).u-checkbox__control
                .u-checkbox__inner
                  span.u-checkbox__icon-wrap
                    svg.icon.u-checkbox__icon
                      use(xlink:href="images/sprite.svg#checked")
                  span.u-checkbox__text Дая согласие на обработку своих персональных данных
            footer.modal-form__footer
              button(type="submit").btn.btn--size-lg.btn--theme-accent.modal-form__footer-btn
                span.btn__bg
                span.btn__inner
                  span.btn__title Отправить
              .modal-form__footer-subtitle <span>Бесплатно</span>
    #modal-privacy.modal.modal--privacy
      .js-modal-close.modal__overlay
      .modal__inner
        .modal__center
          button.js-modal-close.btn-close.modal__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          .modal-privacy
            .content.modal-privacy__content
              h3 Правила использования сайта
              p Настоящий Интернет-ресурс является официальным Интернет-сайтом (далее - Сайт), расположенным по адресу <span class="color-accent">best-take.space</span>. Под Пользователем в настоящих Правилах понимается любое лицо, осуществляющее доступ к Сайту. Вне зависимости от того, являетесь Вы зарегистрированным или незарегистрированным пользователем, вы обязуетесь выполнять данные Правила в полном объёме, а также руководствоваться в своих действиях нормами действующего законодательства РФ.
              p Настоящие Правила использования информации регламентируют доступ к сайту и использование данного сайта, включая просмотр, загрузку, воспроизведение, отображение, опубликование (данные, графики, иллюстрации, фотографии, дизайн, описания, информация, а также видео-, аудиофрагменты, музыкальные и звуковые фрагменты),а так же содержание любого электронного письма или схожей информации, направленной в отношении данного сайта и/или регистрация или подписка пользователя и другое содержание данного сайта. Данное положение касается любого вида пользования, включая использование посредством электронных, механических, фотокопировальных, записывающих средств и т. д.
              p Правообладателями в отношении Информации, размещенной на Сайте, являются в соответствующих случаях Администрация сайта, Пользователи и/или третьи лица. Администрация сайта является законным правообладателем и ей принадлежат все исключительные имущественные и иные соответствующие права на Сайт, в том числе, но, не ограничиваясь перечисленным, на программное обеспечение Сайта, графику, дизайн, Базу данных Сайта. Любая Информация, размещаемая на Сайте Пользователем, соответственно, принадлежит такому Пользователю или соответствующему третьему лицу. Размещая Информацию на Сайте, Пользователь подтверждает, что он обладает всеми необходимыми для этого правами и полномочиями, также Пользователь соглашается с тем, что такая Информация становится доступной для Пользователей Сайта.
              p Размещая Информацию на Сайте, Пользователь автоматически безвозмездно, безусловно и безотзывно предоставляет Администрации Сайта неисключительное право на использование такой Информации по усмотрению Администрации Сайта в том числе, но не ограничиваясь, на воспроизведение, копирование, подбор, систематизацию, преобразование, изменение, редактирование, перевод, опубликование, распространение такой Информации (частично или полностью) любыми законными способами.
              p Если не указано иное, содержание Сайта, иные объекты интеллектуальной собственности, опубликованные на Сайте, могут воспроизводиться или распространяться в неизмененной форме исключительно для некоммерческого использования. Для этих целей Пользователю предоставляется ограниченное, не подлежащее передаче, неисключительное и отзывное разрешение на доступ и право личного пользования (не для извлечения прибыли) данным сайтом и содержанием сайта в качестве информационного ресурса. Пользователь может с помощью электронных средств копировать и сделать твёрдую копию содержания данного сайта для этих целей, при условии соблюдения всех авторских прав и прав собственности (когда они существуют) в отношении содержания данного сайта.
              p Упоминания об авторских и других интеллектуальных правах должны сохраняться во всех случаях воспроизведения. Каждое воспроизведение должно сопровождаться ссылкой (а в случае Интернет — активной гиперссылкой) на Сайт, как на источник Информации. Текст ссылки (гиперссылки) должен быть хорошо читаем и содержать источник информации, наименование правообладателя, дату (если имеется). При размещении гиперссылки на данный сайт запрещается изменять стандартный вид окна программы просмотра (браузера) или иным способом ограничивать либо изменять отображение содержания данного сайта; указывать недостоверную информацию, связанную с гиперссылкой на данный сайт; размещать на интернет-страницах, содержащих гиперссылки на данный сайт, информационные или иные материалы, не соответствующие целям и принципам функционирования данного сайта. За исключением вышеуказанного, все остальные действия будут истолкованы как нарушение авторских прав.
              p Любое другое использование содержания сайта, включая воспроизведение в целях, отличных от перечисленных выше, модификацию, распространение, передачу, загрузку информации на сайте, переиздание или воссоздание (без предварительного письменного согласия правообладателя) запрещается, за исключением тех случаев, когда данный запрет не противоречит действующему законодательству и договорным отношениям с правообладателем.
              p Пользователь не должен использовать данный сайт или услуги таким способом, при котором нарушаются данные условия (или их общая направленность) или любое действующее законодательство и положения (включая законы и положения, касающиеся использования общественных коммуникационных сетей) или в результате чего будет причинён или возможно нанесение ущерба, создание препятствий или нарушение работы сайта или оказание предоставляемых услуг. Пользователь не имеет право предпринимать попытки к получению несанкционированного доступа к любому из разделов данного сайта или собирать или предпринимать попытки к сбору личных сведений, имеющих отношение к другим пользователям данного сайта.
              p Любое несанкционированное использование или копирование информации сайта, или использование информации Сайта, противоречащее данным условиям (или их общей направленности), может привести к нарушению прав собственности на товарные знаки, авторские права или другие права собственности, и повлечь за собой административную и уголовную ответственность. Пользователь не имеет право использовать любую информацию сайта (или любую другую информацию, доступ к которой открывается с данного сайта) таким образом, в результате которого будут нарушены права на обладание товарными знаками, авторскими правами и другими правами собственности.
              p По мере необходимости мы можем изменить Правила использования информации путем размещения обновленной версии на сайте. Мы призываем Вас чаще посещать наши ресурсы, чтобы быть в курсе изменений.
              p Если у Вас возникли вопросы, комментарии или замечания правил использования информации, Вы можете связаться с нами по указанным на сайте контактам. Мы будем рады оперативно решить все вопросы.

    include includes/foot.pug